.Intro {
    .social-icons {
        margin-top: 15px;
        a {
            color: white;
            margin-right: 10px;
            transition: 0.3s;
            will-change: translate;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                transform: translateY(-5px);
                color: var(--secon);
            }
        }
    }
}