:root {
  --prime: #432fa8;
  --secon: #1BE6B0;
}
body {
  margin: 0;
  font-family: 'Montserrate',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
