@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

:root {
    --prime: #432fa8;
    --secon: #1BE6B0;
    --ltgray: #F5F5F5;
  }

  * {
        font-family: 'Montserrat', sans-serif !important;
    }

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
//   code {
//     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//       monospace;
//   }

  h1, h2, h3, h4, h5, h6, p, li, a {
    margin: 0 0 10px 0;
}

h1 {
  font-weight: bold;
  font-size: 44px;
}
h2 {
  font-weight: lighter;
  font-size: 40px;
}
h3 {
  font-weight: lighter;
  font-size: 36px;
}
p, li {
    font-size: 16px;
    line-height: 32px;
}
.uk-offcanvas-bar {
  background: var(--prime);
  box-shadow: 0 0 30px -10px #000;
}
.uk-offcanvas-overlay::before {
  background: rgba(0,0,0,0.7);
}
a.btn {
  padding: 10px 50px;
  background: var(--secon);
  display: inline-block;
  border-radius: 25px;
  min-width: 100px;
  color: white !important ;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  text-decoration: none;
  &:hover {
    background: var(--ltgray);
    color: var(--prime) !important;
  }
}
.list-section {
	margin: 100px;
}
@media (max-width: 763px) {
	.list-section {
		margin: 100px 0;
	}
}