.home {
  .home_hero {
    background-color: var(--prime);
    h1,
    h2,
    p {
      color: white;
    }
  }
  img {
    max-width: 100px;
    margin-bottom: 20px;
  }
  .startup {
    margin: 100px;
  }
}

@media(max-width: 763px) {
  .home {
    .startup {
      margin: 100px 0;
    }
  }
}