.Header {
    background: transparent;
    padding: 10px 0;
    position: fixed;
    z-index: 9;
    width: 100%;
    img {
        max-height: 50px;
    }
    .nav {
        line-height: 50px;
        text-align: right;
    }
}