.Header {
  background: transparent;
  padding: 10px 0;
  position: fixed;
  z-index: 9;
  width: 100%;
  img {
    max-height: 50px;
  }
  .mobile_nav_content {
    margin-top: 50px;
    a {
      li {
        padding: 20px 0;
        text-align: center;
      }
    }
  }
  .nav {
    line-height: 50px;
    text-align: right;
    img {
      fill: var(--secon)
    }
  }
}
