.Hero {
    position: relative;
    min-height: 100vh;
    text-align: center;
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 50%;
    }
}

@media(max-width: 763px) {
    .Hero {
        .content {
            width: 100%;
        }
    }
}