.Hero {
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    width: 60%;
    h2 {
      font-size: 24px;
    }
  }
}

@media (max-width: 763px) {
  .Hero {
    .content {
      width: 95%;
    }
  }
}
